# dilla.glaze.files (https://github.com/dillacorn/win-glaze-dots)
# This config is my personalized config I use specifically for my work computer.
# change file name to config.yaml and delete adjacent config.yaml files to use this config within the folder.
# config.yaml (GlazeWM) - work config
general:
  startup_commands:
    - "shell-exec yasb"

  shutdown_commands: ["shell-exec taskkill /IM yasb.exe /F"]
  config_reload_commands: []

  focus_follows_cursor: true
  toggle_workspace_on_refocus: false

  cursor_jump:
    enabled: true
    trigger: "monitor_focus"

  hide_method: "cloak"
  show_all_in_taskbar: true

gaps:
  scale_with_dpi: true
  inner_gap: "10px"
  outer_gap:
    top: "38px"
    right: "10px"
    bottom: "10px"
    left: "10px"

window_effects:
  focused_window:
    border:
      enabled: true
      color: "#b5bd68"
    hide_title_bar:
      enabled: false
    corner_style:
      enabled: true
      style: "square"
    transparency:
      enabled: false
      opacity: "95%"
  other_windows:
    border:
      enabled: false
      color: "#a1a1a1"
    hide_title_bar:
      enabled: false
    corner_style:
      enabled: true
      style: "square"
    transparency:
      enabled: false
      opacity: "95%"

window_behavior:
  initial_state: "tiling"
  state_defaults:
    floating:
      centered: false
      shown_on_top: true
    fullscreen:
      maximized: true
      shown_on_top: true

workspaces:
  - name: "1"
    display_name: "1: CHATS"
  - name: "2"
    display_name: "2: WORK"
  - name: "3"
    display_name: "3: MAIL"
  - name: "4"
    display_name: "4: FILES"
  - name: "5"
    display_name: "5: HTTP"
  - name: "6"
    display_name: "6: OFFICE"
  - name: "7"
    display_name: "7: PDF"
  - name: "8"
    display_name: "8:    "
  - name: "9"
    display_name: "9:    "
  - name: "10"
    display_name: "10:   "

window_rules:
  # HARD IGNORE: GlazeWM must not manage Civil 3D at all.
  - commands: ["ignore"]
    match:
      - window_process: { regex: "^(acad|acadlt)(\\.exe)?$" }

  - commands: ["move --workspace 1"]
    match:
      - window_process: { regex: "ms-teams" }

  - commands: ["move --workspace 3"]
    match:
      - window_process: { regex: "OUTLOOK|olk" }

  - commands: ["move --workspace 4"]
    match:
      - window_process: { regex: "dopus|FreeCommander" }

  - commands: ["move --workspace 5"]
    match:
      - window_process: { regex: "librewolf|firefox|chrome|brave" }

  - commands: ["move --workspace 6"]
    match:
      - window_process: { regex: "WINWORD|EXCEL|MSPUB|MSACCESS|soffice|wordpad" }

  - commands: ["move --workspace 7"]
    match:
      - window_process: { regex: "PDFXEdit|SumatraPDF|okular|pdfeditor|Acrobat|Revu" }

  - commands: ["ignore"]
    match:
      # Windows Applications
      - window_process: { equals: "explorer" }
      - window_process: { equals: "windhawk" }

      # Ignore rules for Window Manager apps
      - window_process: { equals: "zebar" }
      - window_process: { equals: "yasb" }
      - window_process: { equals: "Flow.Launcher" }
      - window_process: { equals: "AltSnap" }
      - window_process: { equals: "flameshot" }
      - window_process: { equals: "LiveCaptions" }

      # Ignore rule for picture-in-picture windows in browsers.
      - window_title: { regex: "[Pp]icture.in.[Pp]icture" }
        window_class: { regex: "Chrome_WidgetWin_1|MozillaDialogClass" }

      # Ignore rules for various 3rd-party apps.
      - window_process: { equals: "PowerToys" }
        window_class: { regex: "HwndWrapper\\[PowerToys\\.PowerAccent.*?\\]" }
      - window_process: { equals: "PowerToys" }
        window_title: { regex: ".*? - Peek" }
      - window_process: { equals: "Lively" }
        window_class: { regex: "HwndWrapper" }
      - window_process: { equals: "Mullvad VPN" }
      - window_process: { equals: "ui32" }
      - window_process: { equals: "wallpaper32" }
      - window_process: { equals: "wallpaper64" }

      # Ignore Windows Input Experience (Civil 3D popups)
      - window_process: { equals: "TextInputHost" }
      - window_process: { equals: "Windows Input Experience" }

      # Autodesk related background processes
      - window_process: { regex: "^(ADPClientService|AdskAccessUIHost|AdskAccessCore|AdSSO|AdskIdentityManager)$" }

      # Ignore freecommander child windows
      - window_process: { regex: "FreeCommander" }
        window_class: { regex: "^(TDlgSettings|TformQuickStarter|TfcViewerForm|TdlgInputBoxWithOptions|TdlgFcToolbarCustomizer|TfcTabGroupsDlg|TDlgTabRename|TdlgFavFolders|TdlgMultiRename|TfcSyncDirsForm|TdlgCompareFiles|TfcAttributeChanger|TfcHashForm|TfcFileShredder|TfcFileSplitterForm|TfcFileJoinerForm|TfcFilePropertiesForm|TfcDirSizeCalcForm|TfcTreeCompareForm|TRzSelectorFolderForm|TdlgBackupFolderDef|TfcDlgNewFolder|TfcDlgCopyMove)$" }

      # Ignore rules for Work monitoring applications
      - window_process: { equals: "LTSVC" }
      - window_process: { equals: "LTSvcMon" }
      - window_process: { equals: "LTTray" }

  - commands: ["set-floating"]
    match:
      - window_process: { equals: "Taskmgr" }
      - window_process: { equals: "speedcrunch" }
      - window_process: { equals: "winspy" }
      - window_process: { equals: "localsend_app" }
      - window_process: { equals: "RustDesk" }
      - window_process: { regex: "FreeCommander" }
        window_class: { regex: "^(TfcSearchForm)$" }
      - window_process: { equals: "ApplicationFrameHost" }

  - commands: ["set-floating --centered"]
    match:
      - window_title: { regex: "Volume Mixer" }
      - window_process: { equals: "EarTrumpet" }
      - window_title: { regex: "(Find|Replace)" }

binding_modes:
  - name: "resize"
    keybindings:
      - commands: ["resize --width -2%"]
        bindings: ["l", "right"]
      - commands: ["resize --width +2%"]
        bindings: ["h", "left"]
      - commands: ["resize --height +2%"]
        bindings: ["k", "up"]
      - commands: ["resize --height -2%"]
        bindings: ["j", "down"]
      - commands: ["wm-disable-binding-mode --name resize"]
        bindings: ["escape", "enter"]

  - name: "pause"
    keybindings:
      - commands: ["wm-disable-binding-mode --name pause"]
        bindings: ["alt+shift+p"]

keybindings:
  - commands:
      - shell-exec --hide-window powershell -NoProfile -Command "if (Get-Process yasb -ErrorAction SilentlyContinue) { Stop-Process -Name yasb -Force } else { Start-Process yasb }"
    bindings: ["alt+ctrl+b"]

  - commands: ["shell-exec C:\\Program Files (x86)\\SpeedCrunch\\speedcrunch.exe"]
    bindings: ["alt+shift+c"]

  - commands: ["focus --direction left"]
    bindings: ["alt+h", "alt+left"]
  - commands: ["focus --direction right"]
    bindings: ["alt+l", "alt+right"]
  - commands: ["focus --direction up"]
    bindings: ["alt+k", "alt+up"]
  - commands: ["focus --direction down"]
    bindings: ["alt+j", "alt+down"]

  - commands: ["move --direction left"]
    bindings: ["alt+shift+h", "alt+shift+left"]
  - commands: ["move --direction right"]
    bindings: ["alt+shift+l", "alt+shift+right"]
  - commands: ["move --direction up"]
    bindings: ["alt+shift+k", "alt+shift+up"]
  - commands: ["move --direction down"]
    bindings: ["alt+shift+j", "alt+shift+down"]

  - commands: ["resize --width -2%"]
    bindings: ["alt+y", "alt+ctrl+right"]
  - commands: ["resize --width +2%"]
    bindings: ["alt+o", "alt+ctrl+left"]
  - commands: ["resize --height +2%"]
    bindings: ["alt+i", "alt+ctrl+up"]
  - commands: ["resize --height -2%"]
    bindings: ["alt+u", "alt+ctrl+down"]

  - commands: ["wm-enable-binding-mode --name pause"]
    bindings: ["alt+shift+p"]

  - commands: ["toggle-tiling-direction"]
    bindings: ["alt+shift+r"]

  - commands: ["toggle-floating --centered"]
    bindings: ["alt+f"]

  - commands: ["toggle-tiling"]
    bindings: ["alt+t"]

  - commands:
      - "toggle-fullscreen"
      - "shell-exec --hide-window powershell -NoProfile -WindowStyle Hidden -ExecutionPolicy Bypass -Command \"Start-Sleep -Milliseconds 70; Start-Process -WindowStyle Hidden glazewm -ArgumentList 'command wm-redraw'\""
    bindings: ["alt+ctrl+f"]

  - commands: ["toggle-minimized"]
    bindings: ["alt+m"]

  - commands: ["close"]
    bindings: ["alt+shift+q"]

  - commands: ["wm-exit"]
    bindings: ["alt+ctrl+shift+k"]

  - commands: ["wm-reload-config"]
    bindings: ["alt+shift+r"]

  - commands: ["wm-redraw"]
    bindings: ["alt+ctrl+shift+w"]

  - commands: ["shell-exec alacritty --title \"alacritty | powershell\" -e powershell -NoProfile -NoLogo"]
    bindings: ["alt+shift+enter"]

  - commands: ["focus --next-workspace"]
    bindings: ["alt+]"]
  - commands: ["focus --prev-workspace"]
    bindings: ["alt+["]

  - commands: ["focus --recent-workspace"]
    bindings: ["alt+ctrl+c"]

  - commands: ["focus --workspace 1"]
    bindings: ["alt+1"]
  - commands: ["focus --workspace 2"]
    bindings: ["alt+2"]
  - commands: ["focus --workspace 3"]
    bindings: ["alt+3"]
  - commands: ["focus --workspace 4"]
    bindings: ["alt+4"]
  - commands: ["focus --workspace 5"]
    bindings: ["alt+5"]
  - commands: ["focus --workspace 6"]
    bindings: ["alt+6"]
  - commands: ["focus --workspace 7"]
    bindings: ["alt+7"]
  - commands: ["focus --workspace 8"]
    bindings: ["alt+8"]
  - commands: ["focus --workspace 9"]
    bindings: ["alt+9"]
  - commands: ["focus --workspace 10"]
    bindings: ["alt+0"]

  - commands: ["move-workspace --direction left"]
    bindings: ["alt+ctrl+shift+left"]
  - commands: ["move-workspace --direction right"]
    bindings: ["alt+ctrl+shift+right"]
  - commands: ["move-workspace --direction up"]
    bindings: ["alt+ctrl+shift+up"]
  - commands: ["move-workspace --direction down"]
    bindings: ["alt+ctrl+shift+down"]

  - commands: ["move --workspace 1"]
    bindings: ["alt+shift+1"]
  - commands: ["move --workspace 2"]
    bindings: ["alt+shift+2"]
  - commands: ["move --workspace 3"]
    bindings: ["alt+shift+3"]
  - commands: ["move --workspace 4"]
    bindings: ["alt+shift+4"]
  - commands: ["move --workspace 5"]
    bindings: ["alt+shift+5"]
  - commands: ["move --workspace 6"]
    bindings: ["alt+shift+6"]
  - commands: ["move --workspace 7"]
    bindings: ["alt+shift+7"]
  - commands: ["move --workspace 8"]
    bindings: ["alt+shift+8"]
  - commands: ["move --workspace 9"]
    bindings: ["alt+shift+9"]
  - commands: ["move --workspace 10"]
    bindings: ["alt+shift+0"]
